.couleurs {
        background:red;
        animation:myfirst 5s;
      -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
      }


      @-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    25%  {background:green;}
    50%  {background:blue;}
    75%  {background:green;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
      0%   {background:red;}
      25%  {background:green;}
      50%  {background:blue;}
      75%  {background:green;}
      100%   {background:red;}
    }


    .collapse-panel .fa.arrow:before {
      content: "\f107";
    }

    .collapsed .fa.arrow:before {
      content: "\f104";
    }

    .panel-question {
      border: solid 1px black;
    }

    .panel-question-fill {
      border: solid 1px black;
      background-color: black;
      color: white;
    }

    footer {
      display:none;
    }
