.couleurs {
        background:red;
        animation:myfirst 5s;
      -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
      }


      @-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    25%  {background:green;}
    50%  {background:blue;}
    75%  {background:green;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
      0%   {background:red;}
      25%  {background:green;}
      50%  {background:blue;}
      75%  {background:green;}
      100%   {background:red;}
    }


    .collapse-panel .fa.arrow:before {
      content: "\f107";
    }

    .collapsed .fa.arrow:before {
      content: "\f104";
    }

    .collapse-panel.collapse-block .fa.arrow:before, .panel-question-juste.collapse-block .fa.arrow:before{
      content: "\f00d";
    }

    .panel-question-fill .collapse-block .fa.arrow:before, .panel-question-faux .collapse-block .fa.arrow:before {
      content: "\f00c";
    }

    .fa.arrow {
      float:right;
    }

    .panel-question {
      border: solid 1px black;
    }

    .panel-question-fill {
      border: solid 1px black;
      background-color: black;
      color: white;
    }
#wrapper {
  padding-bottom: 40px;
}
    footer {
      padding:10px;
      display:none;
      color:white;
    }

    .panel-question-juste {
      border: solid 1px #2fc682;
      background-color: #2fc682;
      color: white;
    }

    .panel-question-faux {
      border: solid 1px #5c0911;
      background-color: #5c0911;
      color: white;
    }
